.productLineLabel {
  -fx-alignment: center;
  -fx-pref-height: 17px;
  -fx-pref-width: 130px;
}

#window {
  -fx-max-Height: -Infinity;
  -fx-max-Width: -Infinity;
  -fx-min-Height: -Infinity;
  -fx-min-Width: -Infinity;
  -fx-pref-width: 600px;
  -fx-prefHeight: 400px;
}
